@using Studio___Spa_Day.ViewModels;

@model AddUserViewModel;

<h1>Welcome, @Model.Username</h1>
   



<p>Please click on the link below to being selecting your treaments for the day: </p>


<a asp-controller="spa" asp-action="index">Customer Entry Form</a>
